<!DOCTYPE html>
<html lang="en">
% include('head.html')
<script src="https://cdn.rawgit.com/JonathanHuot/bottlepy-plupload/fe5ffa11/js/plupload.full.min.js"></script>
<body>
  % include('header.html')
  <div class="container">
    <div class="row">
        % if defined('error'):
        <div class="alert alert-danger">
            <strong>Error!</strong> {{error}}
        </div>
        % end
        % if defined('success'):
        <div class="alert alert-success">
            <strong>Error!</strong> {{success}}
        </div>
        % end
      <form action="\new" method="post">
        <div class="form-group">
            <label for="name">Gallery name (Polish):</label>
            <input type="text" class="form-control" id="name_pl" placeholder="Gallery Name" name="name_pl">

            <label for="name">Gallery name (English):</label>
            <input type="text" class="form-control" id="name_en" placeholder="Gallery Name" name="name_en">
        </div>
        <hr/>
        <h2>Images</h2>
        <div class="form-group">
            <div id="preview"></div>
            <div id="filelist"></div>
            <hr/>
            <label for="browse">Select images:</label>
            <button type="button" id="browse" class="btn btn-primary">Select Imagess</button> 
            &nbsp 
            <button type="button" id="upload" class="btn btn-default">Upload</button>
        </div>
        <hr/>
        <div id="toggle" class="form-group">
            <h2>Miniatures</h2>
            <select multiple class="form-control" id="miniatures" name="miniatures[]">
            </select>
            <hr/>
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </form>
    </div>
  </div>

  <script type="text/javascript">      

  $("select").change(function() {
      if ($("select option:selected").length > 3) {
          $(this).removeAttr("selected");
          alert('You can select upto 3 options only');
      }
  });

   var uploader = new plupload.Uploader({
           browse_button: 'browse', // this can be an id of a DOM element or the DOM element itself
           runtimes : 'html5,flash,silverlight,html4',
           url : "upload",
           max_file_size : '10mb',
           chunk_size: '1mb',
           filters : [
               {title : "Image files", extensions : "jpg,jpeg,gif,png"}
           ],
   });
    
   uploader.init();
    
   uploader.bind('FilesAdded', function(up, files) {

    $.each(files, function(){
        
		var img = new mOxie.Image();

		img.onload = function() {
            this.embed($('#preview').get(0), {
                        width: 100,
                        height: 100,
                        crop: true
            });
		};

		img.onembedded = function() {
			this.destroy();
		};

		img.onerror = function() {
			this.destroy();
		};

		img.load(this.getSource());        
        
    });
      
    var html = '';
    var select = '';

    plupload.each(files, function(file) {
      html += '<div type="hidden" id="' + file.id + '" style="display: none;">'+ file.name + ' (' + plupload.formatSize(file.size) + ') <b></b><input type="hidden" name="pics[]" value="'+ file.name +'"></input></div>';
      select += '<option>'+file.name+'</option>'
    });

    document.getElementById('filelist').innerHTML += html;
    document.getElementById('miniatures').innerHTML += select;
   });
    
   uploader.bind('Error', function(up, err) {
     document.getElementById('console').innerHTML += "\nError #" + err.code + ": " + err.message;
   });
    
   document.getElementById('upload').onclick = function() {
     uploader.start();
     $("#toggle").toggle();
   };
   </script>
</body>
</html>