<!DOCTYPE html>
<html lang="en">
% include('head.html')
<body>
  % include('header.html')
  <div class="container">
    <div class="row">
      % if defined('error'):
      <div class="alert alert-danger">
          <strong>Error!</strong> {{error}}
      </div>
      % end
      % for gallery in galleries:
      <div class="col-sm-4" >
          %if defined('language') and language == 'pl':
            <a href="/galleries/{{gallery['id']}}/{{language}}">
              <center><h3>{{gallery.doc['names']['pl']}}</h3></center>
          %else :
            <a href="/galleries/{{gallery['id']}}/en">
              <center><h3>{{gallery.doc['names']['en']}}</h3></center>
          %end
          <div class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            
              <ol class="carousel-indicators">
                <li data-slide-to="0" class="active"></li>
                <li data-slide-to="1"></li>
                <li data-slide-to="2"></li>
              </ol>
            

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
              <div class="item active" style="height: 100% important!" id="gallery">
                <img src="static/miniature/{{gallery['id']}}/miniature1.jpg" id="pic" class="img-rounded" style="max-width: 100%; max-height: 100%;">
              </div>

              <div class="item" style="height: 100% important!" id="gallery">
                <img src="static/miniature/{{gallery['id']}}/miniature2.jpg" id="pic" class="img-rounded" style="max-width: 100%; max-height: 100%;">
              </div>

              <div class="item" style="height: 100% important!" id="gallery">
                  <img src="static/miniature/{{gallery['id']}}/miniature3.jpg" id="pic" class="img-rounded" style="max-width: 100%; max-height: 100%;">
              </div>
            </div>
          </div>
        </a>
      </div>
      %end
    </div>
  </div>
</body>
</html>