<!DOCTYPE html>
<html lang="en">
% include('head.html')
<script src="https://cdn.rawgit.com/JonathanHuot/bottlepy-plupload/fe5ffa11/js/plupload.full.min.js"></script>
<body>
  % include('header.html')
  <div class="container">
    <div class="row">
      <form action="\new" method="post">
        <div class="form-group">
            <label for="name">Gallery name:</label>
            <input type="text" class="form-control" id="name" placeholder="Gallery Name" name="name">
        </div>
        <hr/>
        <h2>Images</h2>
        <div class="form-group">
            <div id="preview"></div>
            <div id="filelist"></div>
            <hr/>
            <label for="browse">Select images:</label>
            <button type="button" id="browse" class="btn btn-primary">Select Imagess</button> 
            &nbsp 
            <button type="button" id="upload" class="btn btn-default">Upload</button>
        </div>
        <hr/>
        <h2>Miniatures</h2>
        <select multiple class="form-control" id="miniatures" name="miniatures[]">

        </select>
        <hr/>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
    </div>
  </div>

  <script type="text/javascript">

  $("select").change(function() {
      if ($("select option:selected").length > 3) {
          $(this).removeAttr("selected");
          alert('You can select upto 3 options only');
      }
  });

   var uploader = new plupload.Uploader({
           browse_button: 'browse', // this can be an id of a DOM element or the DOM element itself
           runtimes : 'html5,flash,silverlight,html4',
           url : "/upload",

           // Maximum file size
           max_file_size : '10mb',
    
           chunk_size: '1mb',
    
           // Specify what files to browse for
           filters : [
               {title : "Image files", extensions : "jpg,jpeg,gif,png"}
           ],

           
   });
    
   uploader.init();
    
   uploader.bind('FilesAdded', function(up, files) {

    $.each(files, function(){
        
		var img = new mOxie.Image();

		img.onload = function() {
      this.embed($('#preview').get(0), {
				width: 100,
				height: 100,
				crop: true
      });
		};

		img.onembedded = function() {
			this.destroy();
		};

		img.onerror = function() {
			this.destroy();
		};

		img.load(this.getSource());        
        
    });
      
    var html = '';
    var select = '';
    plupload.each(files, function(file) {
      html += '<div type="hidden" id="' + file.id + '" style="display: none;">'+ file.name + ' (' + plupload.formatSize(file.size) + ') <b></b><input type="hidden" name="pics[]" value="'+ file.name +'"></input></div>';
      select += '<option>'+file.name+'</option>'
    });
    document.getElementById('filelist').innerHTML += html;
    document.getElementById('miniatures').innerHTML += select;
   });
    
   uploader.bind('UploadProgress', function(up, file) {
     document.getElementById(file.id).getElementsByTagName('b')[0].innerHTML = '<span>' + file.percent + "%</span>";
   });
    
   uploader.bind('Error', function(up, err) {
     document.getElementById('console').innerHTML += "\nError #" + err.code + ": " + err.message;
   });
    
   document.getElementById('upload').onclick = function() {
     uploader.start();
   };
   </script>
</body>
</html>