<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{title}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/style/style.css">
  <link rel="stylesheet" href="/static/style/lightbox.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="/static/script/lightbox.js"></script>
</head>
<body>
  % include('header.html')
  <div class="container">
    <h3>{{title}}</h3>
    <div class="row">
      % for image in imagesPaths:
      <div class="col-sm-4">
        <div id="gallery">
            <!---->
            <a href="/static/galleries/{{directory}}/{{image}}" data-lightbox="{{title}}">
                <img src="/static/galleries/{{directory}}/{{image}}"  id="pic" height="200">
            </a>
        </div>
      </div>
      %end
    </div>
  </div>
</body>
</html>